<footer>
  <ul>
    <li>
      <a rel="noreferrer noopener" target="_blank" href="https://travis-ci.org/TracerBench/tracerbench">
        <img
          src="https://img.shields.io/travis/tracerbench/tracerbench?labelColor=000000&color=1884E4&logo=travis&style=flat-square"
          alt="travis-build-status" />
      </a>
    </li>
    <li>
      <a rel="noreferrer noopener" target="_blank" href="https://www.npmjs.com/package/@tracerbench/core">
        <img
          src="https://img.shields.io/npm/v/tracerbench.svg?labelColor=000000&color=1884E4&style=flat-square&logo=typescript"
          alt="npm-semver" />
      </a>
    </li>
    <li>
      <a rel="noreferrer noopener" target="_blank" href="https://www.npmjs.com/package/@tracerbench/core">
        <img
          src="https://img.shields.io/npm/dm/@tracerbench/core.svg?labelColor=000000&color=1884E4&style=flat-square&logo=npm"
          alt="downloads-per-month" />
      </a>
    </li>
    <li>
      <a rel="noreferrer noopener" target="_blank"
        href="https://github.com/TracerBench/tracerbench/blob/master/package.json">
        <img
          src="https://img.shields.io/npm/l/tracerbench.svg?labelColor=000000&color=1884E4&style=flat-square&logo=github"
          alt="license" />
      </a>
    </li>
  </ul>
  <a href="https://engineering.linkedin.com/open-source" target="_blank" rel="noreferrer noopener">
    Made with
    <span>
      ♥
    </span>
    by
    <img class="li-logo" src="/assets/images/li-logo-lrg.svg" alt="linkedin" />
  </a>
</footer>