<article>
  <h1>TracerBench Commands</h1>
  <p class="cmd-desc">This is the command reference for the TracerBench CLI.
    <br />Which has the following syntax:</p>

  <div class="markdown">
    <pre>
      <code>{{markdown-to-html model.content}}</code>
    </pre>
  </div>
</article>