<article>
  <h1>
    <code>tracerbench compare</code>
  </h1>
  <p class="cmd-desc">
    The <code>tracerbench compare</code> command allows the comparison of the performance delta between an experiment
    and control. With two children commands:
    <br />
    <ul class="bullets">
      <li><code>tracerbench compare:analyze</code> runs an analysis of a benchmark run from a results json file to
        stdout.</li>
      <li><code>tracerbench compare:report</code> generates report files (PDF/HTML) from the "tracerbench compare"
        command
        output.</li>
    </ul>
    With the following synax:
  </p>
  <div class="markdown">
    <pre>
      <code>
        {{markdown-to-html model.content}}
      </code>
    </pre>
  </div>
</article>