<article>
  <h1><code>tracerbench help</code></h1>
  <p class="cmd-desc">The <code>tracerbench help</code> command has the following synax:</p>  
<div class="markdown">
    <pre>
      <code>{{markdown-to-html model.content}}</code>
    </pre>
  </div>
</article>