<article>
  <h1><code>tracerbench profile</code>
  </h1>
  <p class="cmd-desc">
    The <code>tracerbench profile</code> command parses a given CPU profile and aggregates the time across heuristics
    with the following synax:
  </p>
  <div class="markdown">
    <pre>
      <code>
        {{markdown-to-html model.content}}
      </code>
    </pre>
  </div>
</article>