<article>
  <h1><code>tracerbench record-har</code></h1>
  <p class="cmd-desc">The <code>tracerbench record-har</code> command records and generates a HAR file from a given URL 
  with the following synax:</p>
  <div class="markdown">
    <pre>
      <code>{{markdown-to-html model.content}}</code>
    </pre>
  </div>
</article>