<article>
  <h1><code>tracerbench report</code></h1>
  <p class="cmd-desc">The <code>tracerbench report</code> command parses the output json from <code>tracerbench compare</code>, formatting and generating PDF and HTML report files 
  with the following synax:</p>
  <div class="markdown">
    <pre>
      <code>{{markdown-to-html model.content}}</code>
    </pre>
  </div>
</article>