<article>
  <h2 id="intro">
    Continuous Integration Workflows
  </h2>
  <hr />
  <p>
    TracerBench is commonly consumed two ways, via CLI and CI. The CLI allows for a developer to quickly run a
    performance benchmark locally. While leveraging TracerBench in CI, drastically aides in the flagging and prevention
    of a performance regression within a web application over time.
  </p>

  <h2 id="ci-workflow">
    Continuous Integration
  </h2>
  <hr />
  <p>
    For a quick plugin solution for commit-over-commit performance analysis in CI w/GitHub Actions, leverage the <a
      href="https://github.com/TracerBench/tracerbench-compare-action" target="_blank"
      rel="noreferrer noopener">tracerbench-compare-action</a>. Addiitonal details and configuration provided within the
    GitHub link. The GithubAction project provides a small wrapper that pipes the configuration into the project's main.
    This allows for easy use in any setup (local or CI) by adding this action as a dependency.
  </p>
</article>