<article>
  <h2>
    Getting Started
  </h2>
  <hr />
  <h4>
    CLI Installation
  </h4>
  <p>
    Install with volta:
  </p>
  <pre><code>volta install tracerbench</code></pre>
  <p>
    Install with yarn:
  </p>
  <pre><code>yarn global add tracerbench</code></pre>
  <p>
    Install with npm:
  </p>
  <pre><code>npm install -g tracerbench</code></pre>
  <h4>
    Confirm Install
  </h4>
  <pre>
<code>$ tracerbench (-v|--version|version)<br/>tracerbench/3.0.15 darwin-x64 node-v12.16.1<br/>$ tracerbench COMMAND<br/>running command...<br/>$ tracerbench --help [COMMAND]<br/>USAGE<br />$ tracerbench COMMAND...</code></pre>
</article>