{{!-- TODO ONCE THE RUST SERVE IS IN A GOOD PLACE FOR CONSUMPTION --}}
<article>
  <h1>
    <code>tracerbench serve</code>
  </h1>
  <p class="cmd-desc">
    The <code>tracerbench serve</code> command allows the comparison of the performance delta between an experiment
    and control. With the following synax:
  </p>
  <div class="markdown">
    <pre><code>foo</code></pre>
  </div>
</article>