<main>
  <a href="https://github.com/TracerBench/tracerbench" target="_blank" class="github-corner"
    aria-label="View source on Github">
    <svg width="80" height="80" viewBox="0 0 250 250"
      style="fill:#fff;color:#0A2D46;position:absolute;top:0;border:0;right:0;z-index:999" aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path
        d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
        fill="currentColor" style="transform-origin:130px 106px" class="octo-arm"></path>
      <path
        d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
        fill="currentColor" class="octo-body"></path>
    </svg>
  </a>
  <hgroup>
    <a href="https://github.com/TracerBench/tracerbench" target="_blank"><img title="tracerbench"
        src='assets/images/tb-logo.png'></a>
    <ul>
      <li><a target="_blank" href="https://travis-ci.org/TracerBench/tracerbench"><img
            src="https://travis-ci.org/TracerBench/tracerbench.svg?branch=master"></a></li>
      <li><a target="_blank" href="https://www.npmjs.com/package/@tracerbench/core"><img
            src="https://img.shields.io/npm/v/tracerbench.svg"></a></li>
      <li><a target="_blank" href="https://www.npmjs.com/package/@tracerbench/core"><img
            src="https://img.shields.io/npm/dm/@tracerbench/core.svg"></a></li>
      <li><a target="_blank" href="https://github.com/TracerBench/tracerbench/blob/master/package.json"><img
            src="https://img.shields.io/npm/l/tracerbench.svg"></a></li>
    </ul>
    <h1>TracerBench: Automated Chrome Tracing For Benchmarking</h1>
    <p>As it pertains to data analysis, intuition almost always leads us astray. We see patterns in random data and jump
      to unwarranted conclusions. We need a guide. One that uses statistical rigor so that we can make valid conclusions
      based upon the data. TracerBench aims to be that guide.</p>
    <p>TracerBench is a controlled performance benchmarking tool for web applications. Providing clear, actionable and
      usable insights into performance deltas. By extracting metrics around response, animation, idle, and load through
      automated chrome traces and controlling that each of our samples is independent. TracerBench is able to provide
      low variance and reproducible performance data. TracerBench results are packageable and shareable allowing for
      replicated peer review.</p>
    <h3>Motivation</h3>
    <p>There’s currently a gap in performance analysis tooling for web applications, which for example is especially
      true for Ember Applications. Developers today struggle to quickly find and analyze performance regressions which
      would empower them to make quick, iterative changes within their local development environment. Regressions need
      to be automatically uncovered, propagated and reported with both regression size and actionable data that explains
      the problem to maximize value and usefulness for the developer.</p>
    <p>The current approach for performance analysis for developers is running a single trace using Chrome Developer
      Tools. The issue however, is a single trace varies far too much to detect regressions in small changes to a web
      application unless the effect size is very large. Additionally, most statistical tests assume sample independence
      which given caching like Chrome's v8 caching this is quite difficult to meet.</p>
  </hgroup>
</main>
<footer>
  <a href="https://engineering.linkedin.com/open-source" target="_blank">Made with <span>♥</span> by <img
      src='assets/images/Logo-White-34px-R.png'></a>
</footer>

{{outlet}}