<article class="home">
  <img alt="tb" src="/assets/images/tb-logo.svg" />
  <hgroup>
    <h1>
      Controlled Performance Benchmarking Tool
    </h1>
    <LinkTo @route="docs.guide.getting-started" class="btn">
      Get Started →
    </LinkTo>
  </hgroup>
  <div class="tldr">
    <hgroup>
      <h4>As it pertains to data analysis intuition leads us astray</h4>
      <p>
        We see patterns in random data and jump
        to unwarranted conclusions. We need a guide. One that uses statistical rigor so that we can make valid
        conclusions
        based upon the data. <i>TracerBench aims to be that guide.</i>
      </p>

    </hgroup>
    <ul class="features">
      <li>
        <h4><img src="/assets/images/favicon.png">Reliable</h4>
        <p>With low-variance independent sampling and statistical analysis, TracerBench provides reproducible
          performance
          data with results that are packageable and shareable.</p>
      </li>
      <li>
        <h4><img src="/assets/images/favicon.png">Insights</h4>
        <p>Providing clear, actionable and usable insights
          into performance deltas, with metrics around response, animation, idle & load.
        </p>
      </li>
      <li>
        <h4><img src="/assets/images/favicon.png">Framework Agnostic</h4>
        <p>With near effortless configuration, works "out-of-box" with most web-application frameworks eg. Ember, React,
          Angular</p>
      </li>
    </ul>
  </div>
</article>